.nav-tabs {
    background-color: purple;
    
}

.nav-item {
    margin-inline-end: auto;
    margin-left: auto;
    background-color: purple;
}

.nav-link {
    color: white;
}
.nav-link:hover{
    color: purple

}